* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  height: 100%;
 }

.task,
.text, .totalList, .App {
  display: flex;
}

.task, .App {
  justify-content: center;
  align-items: center;
}

.text {
  margin-right: 20px;
  align-items: center;
}

.addBtn {
  border-style: none;
  height: auto;
  background-color: black;
}

.completado {
  text-decoration-line: line-through;
}

button {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 80px;
  height: 30px
}

input {
  height: 40px;
  margin-right: 3;
  width: 65%;
}

form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

p {
  color: white;
}

.totalList, input {
  border-radius: 10px;
}


.totalList {
  background-color: #2b3327;
  width: 600px;
  padding: 15px;
  flex-direction: column;
  min-height: 600px;
}

.task {
  background-color: #1c1c1c;
  justify-content: space-between;
  margin: 4px auto;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}