.App {
  text-align: center;
}

.task, .text {
  display: flex;
}
.task {
  justify-content: center;
  align-items: center;
}

.text{
  margin-right: 20px;
  align-items: center;
}

.addBtn {
  background-color: blue;
  border-style: none;
}

.completado {
  text-decoration-line: line-through;
}

button {
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 30px
}

input {
  height: 22px;
}